<div class="page-header">
  <h1 class="page-title">Edit Company Details</h1>
  <%= link_to 'Back', root_path, class: 'button secondary-button' %>
</div>

<div class="form-container">
  <%= render 'form', company: @company %>
</div>