<div class="page-header">
  <h1 class="page-title">Edit Shipment Status</h1>
  <%= link_to 'Back', admin_index_path, class: 'button secondary-button' %>
</div>

<div class="form-container">
  <%= render 'form', shipment_status: @shipment_status %>
</div>