<div class="page-header">
  <h1 class="page-title">Shipment Status Details</h1>
  <%= link_to 'Back', shipment_statuses_path, class: 'button secondary-button' %>
</div>

<div class="details-container">
  <p><strong>Name:</strong> <span class="detail-value"><%= @shipment_status.name %></span></p>
</div>

<div class="details-actions">
  <%= link_to 'Edit', edit_shipment_status_path(@shipment_status), class: 'button primary-button' %>
</div>
