/* Button Styles */
button, .primary-button, .secondary-button, .warning-button, .danger-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.primary-button {
  background-color: #09e80d;
  color: #fff;
  border: none;
}

.primary-button:hover {
  background-color: #07c20b; /* Darker green */
}

.secondary-button {
  background-color: #fff;
  color: #09e80d;
  border: 2px solid #09e80d;
}

.secondary-button:hover {
  background-color: #f0fff0; /* Light green */
}

.danger-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.danger-button:hover {
  background-color: #c82333; /* Darker red */
}

.warning-button {
  background-color: rgb(255, 140, 0);
  color: #fff;
  border: none;
}

.warning-button:hover {
  background-color: #c86a23; /* Darker orange */
}

.alternative-button {
  background-color: #4CAF50;
  color: white;
}

/* Modal Button Styles */
.btn {
  padding: 12px 25px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-primary {
  background-color: #09e80d;
  color: #000;
  border: 1px solid #07b60b;
}

.btn-primary:hover {
  background-color: #07c70b;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
}

.btn-secondary:hover {
  background-color: #e9e9e9;
}

/* Tab Button Styles */
.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
}

/* Role-specific Buttons */
.customer-button {
  background-color: #09e80d;
  color: white;
}

.customer-button:hover {
  background-color: #07c20b;
}

.professional-button {
  background-color: #09e80d;
  color: white;
}

.professional-button:hover {
  background-color: #07c20b;
}