<div class="page-header">
  <h1 class="page-title">Edit Driver</h1>
  <%= link_to 'Back', driver_managements_path, class: 'button secondary-button' %>
</div>

<div class="form-container">
  <%= render 'form', driver: @driver %>
</div>